{
  "presets": [
    "@babel/env",
    [
      "@babel/react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    "@babel/transform-runtime",
    [
      "module-resolver",
      {
        "root": "src",
        "alias": {
          "~": "."
        }
      }
    ]
  ],
  "sourceType": "unambiguous",
  "env": {
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  }
}
