node_modules

build

coverage

public/*
!public/robots.txt
!public/android-icon-*
!public/apple-icon*
!public/browserconfig.xml
!public/favicon*
!public/ms-icon*
!public/icon-192x192.png
!public/icon-512x512.png
!public/icon-maskable.png

Dockerfile
.dockerignore

.git
.github
.gitignore

.DS_Store
.all-contributorsrc
.editorconfig
*.log
*.md
!README.md
