{
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "printWidth": 120
}
